body {
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

img {
    max-width: 100%;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .4s cubic-bezier(.175, .885, .32, 1);
    transition-property: color, background, transform, opacity, left, top, right, bottom, -webkit-transform, -o-transform;
    background: 0;
}

.container {
    /*max-width: 1800px !important;*/
}

.container, .container-fixed, .container-fluid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.search_box {
}

.search_box_content {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.search_box_content .el-form {
    padding: 18px 20px 0 20px;
}

#searchTab {
    position: relative;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
}

#searchTab:hover {
    background: rgba(0, 0, 0, .1);
}

#searchTab.searchTab_active {
    font-weight: 700;
    color: #0c64eb;
}

#searchTab.searchTab_active::before {
    position: absolute;
    bottom: -14px;
    left: 40%;
    width: 0;
    height: 0;
    content: ' ';
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

.dialog_form {
    margin: 0 auto;
}

.dialog-footer {
    text-align: center;
}

.left_right_structure .el-main {
    padding: 0 0 0 50px;
}

.left_right_structure .aside_box {
    margin: 45px 0 0 0;
    /*border: 1px solid #E6E6E6;*/
    /*background-color: #fff;*/

}
.left_right_structure .aside_box .el-tree {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 14px;
}