body {
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #3c4353;
    background-color: #efefef;
}
html,body{
    height: 100%;
}

    /*全局滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    visibility: collapse;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
}

ul > li {
    position: relative;
    list-style: none;
}

ul > li > a {
    border-radius: 4px;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .4s cubic-bezier(.175, .885, .32, 1);
    transition-property: color, background, transform, opacity, left, top, right, bottom, -webkit-transform, -o-transform;
    background: 0;
    color: #2c3e50;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.vertical-top {
    vertical-align: top !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-bottom {
    vertical-align: bottom !important;
}

.container-header {
    min-width: 1200px;
}

.container-main {
    padding: 20px 0;
    min-width: 1200px;
}

.container {
    max-width: 1800px !important;
    position: relative;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.search-box-content {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.search-box-content .el-form {
    padding: 18px 20px 0 20px;
}

.dialog-form {
    margin: 0 50px;
}

.left-right-structure .el-main {
    padding: 0 0 0 50px;
}

.left-right-structure .aside-box {
    margin: 45px 0 0 0;
}

.left-right-structure .aside-box .el-tree {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 14px;
}

.dp-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.dp-table-cell {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.dashboard {
    display: table;
    width: 100%;
    margin: 0;
}

.dashboard:before {
    display: table;
    content: " ";
}

.dashboard:after {
    clear: both;
}

.dashboard .col-main {
    display: table-cell;
    float: none;
    padding: 0 10px 0 0;
    vertical-align: top;
}

.dashboard .col-side {
    display: table-cell;
    float: none;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 450px;
    /*min-width: 450px;*/
    max-width: 450px;
}

.dashboard .panel {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 6px 0 rgba(0, 0, 0, .045);
}

.dashboard .panel-header {
    cursor: move;
    padding: 12px 75px 12px 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dashboard .panel-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.dashboard .panel-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 13px 7px 8px;
    margin-bottom: 0;
    /*list-style: none;*/
    /*display: block;*/
}

.dashboard .panel-body {
    max-height: 400px;
    overflow: auto;
    padding: 0 20px 20px 20px;
}


[class*=" icon-"], [class^=icon-] {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.link-btn {
    position: relative;
    cursor: pointer;
    box-shadow: none;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
}

.link-btn:hover {
    background: rgba(0, 0, 0, .1);
}

.link-btn-active {
    font-weight: 700;
    color: #0c64eb;
}

.link-btn-active:after {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: -1px;
    display: block;
    content: ' ';
    border-bottom: 2px solid #0c64eb;
}

.el-icon-search {
    font-weight: bold;
}

.link-search-btn {
    position: relative;
    cursor: pointer;
    box-shadow: none;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
}

.link-search-btn:hover {
    background: rgba(0, 0, 0, .1);
}

.link-search-btn-active {
    font-weight: 700;
    color: #0c64eb;
}

.link-search-btn-active:before {
    position: absolute;
    bottom: -14px;
    left: 40%;
    width: 0;
    height: 0;
    content: ' ';
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}