body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.el-header {
    padding: 0;
    height: 50px !important;
    box-shadow: 0 2px 2px 0 rgba(230, 230, 230, 1);
    z-index: 112;
}