.pagination_box
    height 40px
    position relative
    background-color #fff
    box-shadow 0 2px 12px 0 rgba(0, 0, 0, .1)

    .pagination_content
        position absolute
        right 28px
        top 4px

        .el-pagination__sizes
            .el-input__inner
                border 0
