.el-main
    padding 0
    margin 0

.el-table
    border-radius 4px 4px 0 0

.table-content
    width 100%
    border-radius 4px
    margin-top 10px

.el-table td
    border-bottom 1px solid #eee
    padding 5px 0
    font-size 13px
    cursor pointer

.el-table tbody tr:nth-child(odd)
    background-color #f5f5f5

.el-table--scrollable-y .el-table__body-wrapper
    overflow: hidden;

.el-table--scrollable-y .el-table__body-wrapper:hover
    overflow: auto;

.el-dialog
    margin-top: 70px !important;

    .el-dialog__header
        border-bottom 1px solid #dbdbdb
        padding: 15px 20px 12px;

        .el-dialog__headerbtn
            top 4px
            right 5px
            padding 15px 15px 11px 15px
            border-radius 3px;

        .el-dialog__headerbtn:hover
            background-color rgba(0, 0, 0, .1)

.el-dropdown-menu
    padding 5px 0

.el-dropdown-menu .el-dropdown-menu__item
    line-height: 24px;
    padding: 0 15px 0 5px;
    margin: 5px 10px;
    font-size: 13px;
    border-radius: 3px;
    text-align: left !important;

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover
    color: #fff;
    background-color: #0c64eb;

.el-dropdown-menu-divided {
    content: ' ';
    border-top: 1px solid #EBEEF5;
}

.el-dropdown-menu-divided:focus, .el-dropdown-menu-divided:not(.is-disabled):hover {
    background-color: #EBEEF5;
}

.el-progress
    .el-progress__text
        font-size: 23px !important;
        margin-top 20px;
        display none

.el-radio, .el-radio__input
    line-height: 2;

.el-date-editor .el-range-separator
    width: 10%;


